div{
    display: inline-block;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
img{
    padding-left: 225px;
    size: 100px;
}
p{
    color: aliceblue;
    background-color: black;
}