{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <div>
        
        <p>Kl Rahul is an Indian wicket keeper batsman and in the upcoming 2025 ipl season,he is going to play for Delhi Capitals</p>
        <img src="{% static 'images/kl.jpg' %}" alt="">
        
    
    </div>
</body>
</html>